@use "sass:math";
@use "sass:meta";
@use "sass:list";
@use "./vars.scss" as vars;

@function rem($number, $base: null) {
  $_base: if($base, $base, vars.$rem-base);
  @if math.is-unitless($number) {
    @return #{math.div($number, $_base)}rem;
  } @else {
    @return #{$number / vars.$rem-unit-base}rem;
  }
}

@function toLighten($color, $lighten) {
  @return scale-color(
    $color,
    $red: $lighten,
    $green: $lighten,
    $blue: $lighten
  );
}

@function toDarken($color, $lighten) {
  @return scale-color(
    $color,
    $red: -$lighten,
    $green: -$lighten,
    $blue: -$lighten
  );
}
