@use "sass:map";
@use "sass:meta";
@use "sass:list";
@use "sass:math";
@use "./vars.scss" as vars;
@use "./functions.scss" as functions;
@use "./verify.scss" as verify;

@mixin media($breakpoint) {
  $_breakpoint: map-get(vars.$breakpoints-spec, $breakpoint);

  @if content-exists() {
    @if $_breakpoint {
      @media screen and #{$_breakpoint} {
        @content;
      }
    } @else {
      @media screen and (#{$breakpoint}) {
        @content;
      }
    }
  }
}

@mixin ellipsis($col: null) {
  $_col: verify.valid_number($col, true);

  overflow: hidden;
  text-overflow: ellipsis;
  @if $_col {
    display: -webkit-box;
    -webkit-line-clamp: #{$col};
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  } @else {
    white-space: nowrap;
  }
}

@mixin triangle($direction: "right", $width: 5px, $color: #000) {
  $_width: verify.valid_number($width);
  $_direction: verify.valid_direction($direction);
  background-color: $color;

  @if $_direction == "left" {
    width: $_width;
    height: $_width * 2;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
  } @else if $_direction == "top" {
    width: $_width * 2;
    height: $_width * 2;
    clip-path: polygon(0 75%, 50% 25%, 100% 75%);
  } @else if $_direction == "bottom" {
    width: $_width * 2;
    height: $_width * 2;
    clip-path: polygon(0 25%, 50% 75%, 100% 25%);
  } @else {
    // default right
    width: $_width;
    height: $_width * 2;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }
}

@mixin placeholder($color: null) {
  &::placeholder {
    @if $color {
      color: $color;
    }
    opacity: 1; /* Firefox */
    @content;
  }

  &::-ms-input-placeholder {
    /* Edge 12 -18 */
    @if $color {
      color: $color;
    }
    @content;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

@mixin margin-recover {
  &::before {
    height: 1px;
    content: "";
    display: block;
    margin-bottom: -1px;
  }
  &::after {
    height: 1px;
    content: "";
    display: block;
    margin-top: -1px;
  }
}

@mixin hide-arrow {
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin hide-scroll {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin gradient-border($gradient-color, $border-width: 1px) {
  position: relative;
  z-index: 1;
  &::before {
    width: inherit;
    height: inherit;
    content: "";
    position: absolute;
    z-index: -2;
    inset: 0;
    background: $gradient-color;
    border-radius: inherit;
  }
  &::after {
    width: inherit;
    height: inherit;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: inherit;
    border-radius: inherit;
    background-clip: content-box;
    padding: $border-width;
    box-sizing: border-box;
  }
}
