@use "sass:map";
@use "sass:math";

// Break point
$breakpoints: () !default;
$breakpoints: map.deep-merge(
  (
    "sm": 768px,
    "md": 960px,
    "lg": 1240px,
    "xl": 1920px,
  ),
  $breakpoints
);

$breakpoints-spec: () !default;
$breakpoints-spec: map.deep-merge(
  (
    "xs-only": "(max-width: #{map.get($breakpoints, sm)})",
    "sm-and-up": "(min-width: #{map.get($breakpoints, sm)})",
    "sm-only":
      "(min-width: #{map.get($breakpoints, sm)}) and (max-width: #{map.get($breakpoints, md) - 1})",
    "sm-and-down": "(max-width: #{map.get($breakpoints, md)})",
    "md-and-up": "(min-width: #{map.get($breakpoints, md)})",
    "md-only":
      "(min-width: #{map.get($breakpoints, md)}) and (max-width: #{map.get($breakpoints, lg) - 1})",
    "md-and-down": "(max-width: #{map.get($breakpoints, lg)})",
    "lg-and-up": "(min-width: #{map.get($breakpoints, lg)})",
    "lg-only":
      "(min-width: #{map.get($breakpoints, lg)}) and (max-width: #{map.get($breakpoints, xl) - 1})",
    "lg-and-down": "(max-width: #{map.get($breakpoints, xl)})",
    "xl-only": "(min-width: #{map.get($breakpoints, xl)})",
  ),
  $breakpoints-spec
);

// variable
$rem-base: 4;
$rem-unit-base: 16px;
